- const { owner } = theme.footer

.footer-other
  .footer-copyright
    if owner && owner.enable
      - const currentYear = new Date().getFullYear()
      span.copyright
        != `<i class="fa fas fa-copyright"></i> ${currentYear} <i class="fa fas fa-heart"></i> ${config.author} All Rights Reserved.`
